################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Training/bin
/Training/obj
/Training.Tests/bin
/Training.Tests/obj
